In [1]:
import re
from collections import defaultdict
from datetime import datetime, timedelta

import pandas as pd
pd.options.display.max_rows = 999

In [2]:
data = pd.DataFrame(data={
    'id': [],
    'date': [],
    'activity': []
})

In [3]:
with open('./input.txt') as f:
    for line in f.readlines():
        m = re.match(
            r'\[\d+-(?P<month>\d+)-(?P<day>\d+)\s(?P<hour>\d+):(?P<minute>\d+)\]\s(?P<remainder>.+)',
            line)
        
        date = datetime(
            2018,
            int(m.group('month')),
            int(m.group('day')),
            hour=int(m.group('hour')),
            minute=int(m.group('minute')))
        
        guard_id = ''
        
        if '#' in line:
            m = re.match(r'.+#(?P<guard_id>\d+)', line)
            guard_id = m.group('guard_id')
            activity = 1
        elif 'asleep' in line:
            activity = 2
        else:
            activity = 3

        data = data.append(
            {
                'id': guard_id,
                'date': date,
                'activity': int(activity)
            }, 
            ignore_index=True)

In [4]:
data.head()

  id                date  activity
0    2018-11-07 00:21:00       2.0
1    2018-05-18 00:57:00       3.0
2    2018-09-24 00:19:00       2.0
3    2018-04-26 00:21:00       2.0
4    2018-08-09 00:28:00       3.0

In [5]:
data.set_index('date', inplace=True)
data.sort_index(inplace=True)

data.head(10)

                       id  activity
date
2018-02-26 23:59:00   571       1.0
2018-02-27 00:17:00             2.0
2018-02-27 00:51:00             3.0
2018-02-27 00:56:00             2.0
2018-02-27 00:59:00             3.0
2018-02-28 00:00:00   263       1.0
2018-02-28 00:17:00             2.0
2018-02-28 00:26:00             3.0
2018-02-28 23:49:00  2909       1.0
2018-03-01 00:00:00             2.0

In [6]:
def return_prev(series):
    new = list()
    previous_val = ''
    
    for val in series:
        if val:
            previous_val = val
            
        new.append(previous_val)
        
    return new

data = data.assign(id = lambda x: return_prev(x.id))

data.head(10)

                       id  activity
date
2018-02-26 23:59:00   571       1.0
2018-02-27 00:17:00   571       2.0
2018-02-27 00:51:00   571       3.0
2018-02-27 00:56:00   571       2.0
2018-02-27 00:59:00   571       3.0
2018-02-28 00:00:00   263       1.0
2018-02-28 00:17:00   263       2.0
2018-02-28 00:26:00   263       3.0
2018-02-28 23:49:00  2909       1.0
2018-03-01 00:00:00  2909       2.0

In [7]:
ids, minute = list(), list()

current_date = None
for idx, row in data.iterrows():
    if row.activity == 2:
        current_date = idx
        
    elif row.activity == 3:
        for i in range(int((idx - current_date).seconds / 60)):
            ids.append(row.id)
            minute.append((current_date + timedelta(minutes=i)).minute)

In [8]:
final = pd.DataFrame(data={'ids': ids, 'minute': minute})
final.head(10)

   ids  minute
0  571      17
1  571      18
2  571      19
3  571      20
4  571      21
5  571      22
6  571      23
7  571      24
8  571      25
9  571      26

In [10]:
from collections import Counter

top_id, id_count = Counter(final.ids).most_common()[0]
top_minute, minute_count = Counter(final[final.ids == top_id].minute).most_common()[0]
print(f"Pt 1: {top_id} * {top_minute}: {int(top_id) * top_minute}")

Pt 1: 1823 * 41: 74743

In [20]:
sorted(final.groupby(final.columns.tolist(), as_index=False).size().to_dict().items(), key = lambda x: x[1], reverse=True)

[(('3011', 44), 18),
 (('3011', 43), 17),
 (('3011', 45), 17),
 (('3011', 42), 16),
 (('3011', 46), 16),
 (('157', 39), 15),
 (('3011', 41), 15),
 (('157', 40), 14),
 (('1823', 41), 14),
 (('2729', 45), 14),
 (('2729', 46), 14),
 (('3011', 47), 14),
 (('157', 31), 13),
 (('157', 32), 13),
 (('157', 38), 13),
 (('1823', 21), 13),
 (('1823', 22), 13),
 (('1823', 30), 13),
 (('1823', 31), 13),
 (('1823', 32), 13),
 (('1823', 33), 13),
 (('1823', 34), 13),
 (('1823', 39), 13),
 (('1823', 40), 13),
 (('1823', 42), 13),
 (('2729', 47), 13),
 (('2909', 50), 13),
 (('2909', 51), 13),
 (('2909', 52), 13),
 (('3011', 40), 13),
 (('1279', 28), 12),
 (('1279', 29), 12),
 (('1481', 44), 12),
 (('157', 30), 12),
 (('157', 33), 12),
 (('157', 35), 12),
 (('157', 36), 12),
 (('157', 37), 12),
 (('157', 41), 12),
 (('157', 42), 12),
 (('1823', 20), 12),
 (('1823', 23), 12),
 (('1823', 24), 12),
 (('1823', 25), 12),
 (('1823', 26), 12),
 (('1823', 27), 12),
 (('1823', 28), 12),
 (('1823', 29), 12),
 (('1823', 35), 12),
 (('1823', 36), 12),
 (('1823', 37), 12),
 (('1823', 38), 12),
 (('1823', 43), 12),
 (('2657', 40), 12),
 (('2729', 38), 12),
 (('2729', 39), 12),
 (('2729', 40), 12),
 (('2729', 41), 12),
 (('2729', 44), 12),
 (('2909', 41), 12),
 (('2909', 42), 12),
 (('2909', 43), 12),
 (('3011', 30), 12),
 (('3011', 31), 12),
 (('3011', 32), 12),
 (('3011', 48), 12),
 (('3011', 50), 12),
 (('3011', 51), 12),
 (('1279', 27), 11),
 (('1279', 30), 11),
 (('1279', 31), 11),
 (('1481', 38), 11),
 (('1481', 40), 11),
 (('1481', 41), 11),
 (('1481', 42), 11),
 (('1481', 43), 11),
 (('1481', 45), 11),
 (('157', 27), 11),
 (('157', 28), 11),
 (('157', 29), 11),
 (('157', 34), 11),
 (('157', 46), 11),
 (('1823', 44), 11),
 (('2657', 23), 11),
 (('2657', 24), 11),
 (('2657', 26), 11),
 (('2657', 27), 11),
 (('2657', 29), 11),
 (('2657', 30), 11),
 (('2657', 31), 11),
 (('2657', 32), 11),
 (('2657', 35), 11),
 (('2657', 36), 11),
 (('2657', 37), 11),
 (('2657', 38), 11),
 (('2657', 39), 11),
 (('2657', 41), 11),
 (('2657', 42), 11),
 (('2657', 43), 11),
 (('2729', 35), 11),
 (('2729', 36), 11),
 (('2729', 37), 11),
 (('2729', 42), 11),
 (('2777', 43), 11),
 (('2777', 44), 11),
 (('2909', 44), 11),
 (('3011', 28), 11),
 (('3011', 29), 11),
 (('3011', 33), 11),
 (('3011', 39), 11),
 (('3011', 49), 11),
 (('571', 39), 11),
 (('571', 40), 11),
 (('571', 41), 11),
 (('571', 43), 11),
 (('1279', 26), 10),
 (('1279', 33), 10),
 (('1279', 34), 10),
 (('1279', 35), 10),
 (('1481', 26), 10),
 (('1481', 35), 10),
 (('1481', 36), 10),
 (('1481', 37), 10),
 (('1481', 39), 10),
 (('1481', 46), 10),
 (('1481', 47), 10),
 (('1481', 48), 10),
 (('151', 27), 10),
 (('151', 28), 10),
 (('157', 26), 10),
 (('157', 43), 10),
 (('157', 44), 10),
 (('157', 45), 10),
 (('157', 47), 10),
 (('157', 52), 10),
 (('157', 53), 10),
 (('1823', 18), 10),
 (('1823', 19), 10),
 (('2657', 22), 10),
 (('2657', 25), 10),
 (('2657', 28), 10),
 (('2657', 33), 10),
 (('2657', 34), 10),
 (('2657', 44), 10),
 (('2657', 46), 10),
 (('2657', 48), 10),
 (('2729', 26), 10),
 (('2729', 27), 10),
 (('2729', 28), 10),
 (('2729', 29), 10),
 (('2729', 30), 10),
 (('2729', 31), 10),
 (('2729', 32), 10),
 (('2729', 33), 10),
 (('2729', 34), 10),
 (('2729', 43), 10),
 (('2729', 48), 10),
 (('2777', 42), 10),
 (('2777', 45), 10),
 (('2909', 45), 10),
 (('2909', 46), 10),
 (('2909', 47), 10),
 (('2909', 48), 10),
 (('2909', 49), 10),
 (('2909', 53), 10),
 (('3011', 26), 10),
 (('3011', 27), 10),
 (('3011', 38), 10),
 (('3011', 53), 10),
 (('3011', 54), 10),
 (('571', 35), 10),
 (('571', 36), 10),
 (('571', 37), 10),
 (('571', 38), 10),
 (('571', 42), 10),
 (('571', 44), 10),
 (('659', 47), 10),
 (('1279', 19), 9),
 (('1279', 20), 9),
 (('1279', 21), 9),
 (('1279', 32), 9),
 (('1279', 36), 9),
 (('1279', 38), 9),
 (('1481', 25), 9),
 (('1481', 31), 9),
 (('1481', 32), 9),
 (('1481', 34), 9),
 (('1481', 49), 9),
 (('151', 30), 9),
 (('151', 31), 9),
 (('151', 32), 9),
 (('157', 25), 9),
 (('157', 48), 9),
 (('157', 49), 9),
 (('157', 51), 9),
 (('157', 54), 9),
 (('1823', 13), 9),
 (('1823', 14), 9),
 (('1823', 15), 9),
 (('1823', 16), 9),
 (('1823', 45), 9),
 (('1823', 46), 9),
 (('1823', 47), 9),
 (('1823', 50), 9),
 (('197', 36), 9),
 (('197', 37), 9),
 (('197', 38), 9),
 (('197', 42), 9),
 (('197', 52), 9),
 (('2657', 17), 9),
 (('2657', 18), 9),
 (('2657', 19), 9),
 (('2657', 20), 9),
 (('2657', 21), 9),
 (('2657', 45), 9),
 (('2657', 47), 9),
 (('2729', 20), 9),
 (('2729', 21), 9),
 (('2729', 22), 9),
 (('2729', 23), 9),
 (('2729', 25), 9),
 (('2729', 49), 9),
 (('2777', 34), 9),
 (('2777', 35), 9),
 (('2777', 36), 9),
 (('2777', 37), 9),
 (('2777', 38), 9),
 (('2777', 39), 9),
 (('2777', 40), 9),
 (('2777', 41), 9),
 (('2777', 46), 9),
 (('2909', 39), 9),
 (('2909', 40), 9),
 (('2909', 54), 9),
 (('3011', 21), 9),
 (('3011', 24), 9),
 (('3011', 34), 9),
 (('3011', 35), 9),
 (('3011', 36), 9),
 (('3011', 37), 9),
 (('3011', 52), 9),
 (('571', 21), 9),
 (('571', 22), 9),
 (('571', 24), 9),
 (('571', 25), 9),
 (('571', 26), 9),
 (('571', 33), 9),
 (('571', 34), 9),
 (('659', 46), 9),
 (('659', 48), 9),
 (('1171', 26), 8),
 (('1171', 27), 8),
 (('1171', 30), 8),
 (('1171', 32), 8),
 (('1171', 45), 8),
 (('1279', 22), 8),
 (('1279', 23), 8),
 (('1279', 24), 8),
 (('1279', 25), 8),
 (('1279', 37), 8),
 (('1279', 39), 8),
 (('1481', 21), 8),
 (('1481', 22), 8),
 (('1481', 23), 8),
 (('1481', 24), 8),
 (('1481', 27), 8),
 (('1481', 28), 8),
 (('1481', 29), 8),
 (('1481', 30), 8),
 (('1481', 33), 8),
 (('1481', 50), 8),
 (('1481', 51), 8),
 (('151', 20), 8),
 (('151', 21), 8),
 (('151', 22), 8),
 (('151', 23), 8),
 (('151', 24), 8),
 (('151', 25), 8),
 (('151', 26), 8),
 (('151', 29), 8),
 (('151', 33), 8),
 (('151', 34), 8),
 (('151', 35), 8),
 (('151', 36), 8),
 (('151', 37), 8),
 (('157', 22), 8),
 (('157', 23), 8),
 (('157', 24), 8),
 (('157', 50), 8),
 (('157', 55), 8),
 (('157', 56), 8),
 (('1823', 9), 8),
 (('1823', 10), 8),
 (('1823', 11), 8),
 (('1823', 12), 8),
 (('1823', 17), 8),
 (('1823', 48), 8),
 (('1823', 49), 8),
 (('197', 35), 8),
 (('197', 39), 8),
 (('197', 40), 8),
 (('197', 41), 8),
 (('197', 43), 8),
 (('197', 44), 8),
 (('197', 48), 8),
 (('197', 49), 8),
 (('197', 50), 8),
 (('197', 51), 8),
 (('2657', 12), 8),
 (('2657', 13), 8),
 (('2657', 14), 8),
 (('2657', 15), 8),
 (('2657', 16), 8),
 (('2657', 50), 8),
 (('2729', 18), 8),
 (('2729', 19), 8),
 (('2729', 24), 8),
 (('2777', 28), 8),
 (('2777', 29), 8),
 (('2777', 30), 8),
 (('2777', 31), 8),
 (('2777', 32), 8),
 (('2777', 33), 8),
 (('2777', 47), 8),
 (('2909', 37), 8),
 (('2909', 38), 8),
 (('3011', 22), 8),
 (('3011', 23), 8),
 (('3011', 25), 8),
 (('3089', 37), 8),
 (('3089', 38), 8),
 (('3089', 42), 8),
 (('331', 22), 8),
 (('331', 35), 8),
 (('331', 36), 8),
 (('331', 37), 8),
 (('331', 38), 8),
 (('331', 47), 8),
 (('331', 48), 8),
 (('571', 19), 8),
 (('571', 20), 8),
 (('571', 23), 8),
 (('571', 27), 8),
 (('571', 28), 8),
 (('571', 29), 8),
 (('571', 30), 8),
 (('571', 31), 8),
 (('571', 32), 8),
 (('571', 45), 8),
 (('1171', 25), 7),
 (('1171', 29), 7),
 (('1171', 31), 7),
 (('1171', 33), 7),
 (('1171', 34), 7),
 (('1171', 35), 7),
 (('1171', 36), 7),
 (('1171', 37), 7),
 (('1171', 46), 7),
 (('1171', 47), 7),
 (('1279', 46), 7),
 (('1279', 47), 7),
 (('1279', 48), 7),
 (('1279', 49), 7),
 (('1279', 50), 7),
 (('1481', 20), 7),
 (('151', 18), 7),
 (('151', 19), 7),
 (('151', 38), 7),
 (('157', 21), 7),
 (('157', 57), 7),
 (('1823', 8), 7),
 (('1823', 51), 7),
 (('197', 34), 7),
 (('197', 45), 7),
 (('197', 46), 7),
 (('197', 47), 7),
 (('197', 53), 7),
 (('263', 23), 7),
 (('263', 24), 7),
 (('263', 25), 7),
 (('2657', 10), 7),
 (('2657', 11), 7),
 (('2657', 49), 7),
 (('2657', 51), 7),
 (('2729', 15), 7),
 (('2729', 16), 7),
 (('2729', 17), 7),
 (('2729', 50), 7),
 (('2729', 51), 7),
 (('2729', 53), 7),
 (('2777', 10), 7),
 (('2777', 26), 7),
 (('2777', 27), 7),
 (('2777', 48), 7),
 (('2909', 14), 7),
 (('2909', 19), 7),
 (('2909', 20), 7),
 (('2909', 21), 7),
 (('2909', 22), 7),
 (('2909', 23), 7),
 (('2909', 30), 7),
 (('2909', 31), 7),
 (('2909', 36), 7),
 (('2909', 55), 7),
 (('3011', 17), 7),
 (('3011', 18), 7),
 (('3011', 55), 7),
 (('3089', 32), 7),
 (('3089', 33), 7),
 (('3089', 34), 7),
 (('3089', 35), 7),
 (('3089', 36), 7),
 (('3089', 41), 7),
 (('3089', 43), 7),
 (('331', 23), 7),
 (('331', 32), 7),
 (('331', 33), 7),
 (('331', 34), 7),
 (('331', 43), 7),
 (('331', 46), 7),
 (('571', 17), 7),
 (('571', 18), 7),
 (('659', 41), 7),
 (('659', 42), 7),
 (('659', 43), 7),
 (('659', 44), 7),
 (('659', 45), 7),
 (('659', 49), 7),
 (('1171', 22), 6),
 (('1171', 23), 6),
 (('1171', 24), 6),
 (('1171', 28), 6),
 (('1171', 40), 6),
 (('1171', 41), 6),
 (('1171', 42), 6),
 (('1171', 43), 6),
 (('1171', 44), 6),
 (('1171', 48), 6),
 (('1171', 49), 6),
 (('1171', 50), 6),
 (('1279', 16), 6),
 (('1279', 17), 6),
 (('1279', 18), 6),
 (('1279', 40), 6),
 (('1279', 41), 6),
 (('1279', 42), 6),
 (('1279', 43), 6),
 (('1279', 44), 6),
 (('1279', 45), 6),
 (('1279', 51), 6),
 (('1279', 54), 6),
 (('1279', 55), 6),
 (('1481', 18), 6),
 (('1481', 19), 6),
 (('151', 13), 6),
 (('151', 17), 6),
 (('151', 39), 6),
 (('151', 40), 6),
 (('151', 41), 6),
 (('151', 42), 6),
 (('151', 43), 6),
 (('151', 49), 6),
 (('151', 50), 6),
 (('157', 19), 6),
 (('157', 20), 6),
 (('1697', 44), 6),
 (('1697', 45), 6),
 (('1697', 46), 6),
 (('1823', 7), 6),
 (('1823', 52), 6),
 (('1877', 16), 6),
 (('1877', 17), 6),
 (('1877', 18), 6),
 (('1877', 19), 6),
 (('1877', 20), 6),
 (('1877', 21), 6),
 (('1877', 44), 6),
 (('197', 19), 6),
 (('197', 33), 6),
 (('197', 54), 6),
 (('263', 19), 6),
 (('263', 20), 6),
 (('263', 21), 6),
 (('263', 22), 6),
 (('263', 26), 6),
 (('263', 27), 6),
 (('263', 28), 6),
 (('2657', 52), 6),
 (('2657', 53), 6),
 (('2729', 14), 6),
 (('2729', 52), 6),
 (('2777', 4), 6),
 (('2777', 5), 6),
 (('2777', 6), 6),
 (('2777', 7), 6),
 (('2777', 8), 6),
 (('2777', 9), 6),
 (('2777', 11), 6),
 (('2777', 12), 6),
 (('2777', 13), 6),
 (('2777', 14), 6),
 (('2777', 15), 6),
 (('2777', 16), 6),
 (('2777', 17), 6),
 (('2777', 18), 6),
 (('2777', 19), 6),
 (('2777', 20), 6),
 (('2777', 21), 6),
 (('2777', 22), 6),
 (('2777', 23), 6),
 (('2777', 24), 6),
 (('2777', 25), 6),
 (('2909', 12), 6),
 (('2909', 13), 6),
 (('2909', 15), 6),
 (('2909', 16), 6),
 (('2909', 17), 6),
 (('2909', 18), 6),
 (('2909', 24), 6),
 (('2909', 25), 6),
 (('2909', 26), 6),
 (('2909', 27), 6),
 (('2909', 28), 6),
 (('2909', 29), 6),
 (('2909', 32), 6),
 (('2909', 33), 6),
 (('2909', 34), 6),
 (('2909', 56), 6),
 (('3011', 13), 6),
 (('3011', 14), 6),
 (('3011', 15), 6),
 (('3011', 16), 6),
 (('3011', 19), 6),
 (('3011', 20), 6),
 (('3089', 31), 6),
 (('3089', 39), 6),
 (('3089', 40), 6),
 (('3089', 44), 6),
 (('3089', 46), 6),
 (('3089', 47), 6),
 (('331', 19), 6),
 (('331', 20), 6),
 (('331', 21), 6),
 (('331', 24), 6),
 (('331', 25), 6),
 (('331', 26), 6),
 (('331', 31), 6),
 (('331', 39), 6),
 (('331', 40), 6),
 (('331', 41), 6),
 (('331', 42), 6),
 (('331', 45), 6),
 (('331', 49), 6),
 (('571', 46), 6),
 (('571', 47), 6),
 (('571', 48), 6),
 (('571', 49), 6),
 (('571', 50), 6),
 (('659', 39), 6),
 (('659', 50), 6),
 (('1171', 14), 5),
 (('1171', 15), 5),
 (('1171', 16), 5),
 (('1171', 17), 5),
 (('1171', 18), 5),
 (('1171', 19), 5),
 (('1171', 20), 5),
 (('1171', 21), 5),
 (('1171', 38), 5),
 (('1171', 39), 5),
 (('1171', 51), 5),
 (('1171', 52), 5),
 (('1279', 56), 5),
 (('1481', 8), 5),
 (('1481', 9), 5),
 (('1481', 10), 5),
 (('1481', 11), 5),
 (('1481', 12), 5),
 (('1481', 13), 5),
 (('1481', 14), 5),
 (('1481', 15), 5),
 (('1481', 16), 5),
 (('1481', 17), 5),
 (('1481', 52), 5),
 (('1481', 54), 5),
 (('1481', 55), 5),
 (('151', 12), 5),
 (('151', 14), 5),
 (('151', 15), 5),
 (('151', 16), 5),
 (('151', 44), 5),
 (('151', 47), 5),
 (('151', 48), 5),
 (('157', 11), 5),
 (('157', 12), 5),
 (('157', 13), 5),
 (('157', 14), 5),
 (('157', 15), 5),
 (('157', 16), 5),
 (('157', 17), 5),
 (('157', 18), 5),
 (('1697', 39), 5),
 (('1697', 40), 5),
 (('1697', 41), 5),
 (('1697', 43), 5),
 (('1877', 9), 5),
 (('1877', 10), 5),
 (('1877', 11), 5),
 (('1877', 12), 5),
 (('1877', 13), 5),
 (('1877', 15), 5),
 (('1877', 22), 5),
 (('1877', 23), 5),
 (('1877', 24), 5),
 (('1877', 25), 5),
 (('1877', 28), 5),
 (('1877', 30), 5),
 (('1877', 31), 5),
 (('1877', 32), 5),
 (('1877', 33), 5),
 (('1877', 34), 5),
 (('1877', 35), 5),
 (('1877', 45), 5),
 (('197', 18), 5),
 (('197', 20), 5),
 (('197', 21), 5),
 (('197', 22), 5),
 (('197', 23), 5),
 (('197', 24), 5),
 (('197', 26), 5),
 (('197', 27), 5),
 (('197', 28), 5),
 (('197', 29), 5),
 (('197', 30), 5),
 (('197', 31), 5),
 (('197', 32), 5),
 (('197', 55), 5),
 (('263', 17), 5),
 (('263', 18), 5),
 (('263', 29), 5),
 (('263', 30), 5),
 (('263', 31), 5),
 (('263', 32), 5),
 (('263', 33), 5),
 (('263', 56), 5),
 (('2657', 7), 5),
 (('2657', 8), 5),
 (('2657', 9), 5),
 (('2657', 54), 5),
 (('2729', 12), 5),
 (('2729', 13), 5),
 (('2777', 2), 5),
 (('2777', 3), 5),
 (('2777', 50), 5),
 (('2909', 7), 5),
 (('2909', 8), 5),
 (('2909', 9), 5),
 (('2909', 10), 5),
 (('2909', 11), 5),
 (('2909', 35), 5),
 (('3089', 26), 5),
 (('3089', 27), 5),
 (('3089', 28), 5),
 (('3089', 29), 5),
 (('3089', 30), 5),
 (('3089', 45), 5),
 (('3089', 48), 5),
 (('331', 18), 5),
 (('331', 27), 5),
 (('331', 28), 5),
 (('331', 29), 5),
 (('331', 30), 5),
 (('331', 44), 5),
 (('331', 50), 5),
 (('571', 51), 5),
 (('659', 30), 5),
 (('659', 31), 5),
 (('659', 32), 5),
 (('659', 33), 5),
 (('659', 36), 5),
 (('659', 37), 5),
 (('659', 38), 5),
 (('659', 40), 5),
 (('83', 18), 5),
 (('83', 19), 5),
 (('83', 20), 5),
 (('83', 21), 5),
 (('83', 22), 5),
 (('83', 23), 5),
 (('83', 29), 5),
 (('83', 30), 5),
 (('83', 34), 5),
 (('83', 35), 5),
 (('83', 36), 5),
 (('83', 37), 5),
 (('83', 38), 5),
 (('83', 46), 5),
 (('83', 47), 5),
 (('83', 48), 5),
 (('83', 49), 5),
 (('83', 50), 5),
 (('83', 51), 5),
 (('1171', 9), 4),
 (('1171', 10), 4),
 (('1171', 11), 4),
 (('1171', 12), 4),
 (('1171', 13), 4),
 (('1171', 53), 4),
 (('1279', 15), 4),
 (('1279', 52), 4),
 (('1279', 53), 4),
 (('1481', 6), 4),
 (('1481', 7), 4),
 (('1481', 53), 4),
 (('151', 45), 4),
 (('151', 46), 4),
 (('157', 4), 4),
 (('157', 5), 4),
 (('157', 6), 4),
 (('157', 7), 4),
 (('157', 10), 4),
 (('1697', 37), 4),
 (('1697', 42), 4),
 (('1697', 47), 4),
 (('1697', 48), 4),
 (('1697', 53), 4),
 (('1697', 54), 4),
 (('1823', 6), 4),
 (('1823', 53), 4),
 (('1877', 6), 4),
 (('1877', 7), 4),
 (('1877', 8), 4),
 (('1877', 14), 4),
 (('1877', 26), 4),
 (('1877', 27), 4),
 (('1877', 29), 4),
 (('1877', 46), 4),
 (('1877', 47), 4),
 (('1877', 48), 4),
 (('1877', 49), 4),
 (('1877', 50), 4),
 (('1877', 51), 4),
 (('1877', 52), 4),
 (('1877', 55), 4),
 (('197', 25), 4),
 (('263', 34), 4),
 (('263', 35), 4),
 (('263', 51), 4),
 (('263', 52), 4),
 (('263', 53), 4),
 (('263', 54), 4),
 (('2657', 6), 4),
 (('2657', 55), 4),
 (('2729', 7), 4),
 (('2729', 8), 4),
 (('2729', 54), 4),
 (('2777', 49), 4),
 (('2777', 51), 4),
 (('2777', 52), 4),
 (('2777', 54), 4),
 (('2909', 5), 4),
 (('2909', 6), 4),
 (('2909', 57), 4),
 (('3011', 12), 4),
 (('3011', 56), 4),
 (('3089', 24), 4),
 (('3089', 25), 4),
 (('3089', 49), 4),
 (('3089', 50), 4),
 (('331', 12), 4),
 (('331', 13), 4),
 (('331', 14), 4),
 (('331', 15), 4),
 (('331', 16), 4),
 (('331', 17), 4),
 (('331', 52), 4),
 (('571', 16), 4),
 (('571', 54), 4),
 (('571', 56), 4),
 (('659', 28), 4),
 (('659', 29), 4),
 (('659', 34), 4),
 (('659', 35), 4),
 (('659', 51), 4),
 (('659', 54), 4),
 (('659', 56), 4),
 (('659', 57), 4),
 (('83', 15), 4),
 (('83', 16), 4),
 (('83', 17), 4),
 (('83', 24), 4),
 (('83', 25), 4),
 (('83', 26), 4),
 (('83', 27), 4),
 (('83', 31), 4),
 (('83', 32), 4),
 (('83', 33), 4),
 (('83', 41), 4),
 (('83', 44), 4),
 (('83', 45), 4),
 (('1171', 3), 3),
 (('1171', 4), 3),
 (('1171', 5), 3),
 (('1171', 6), 3),
 (('1171', 7), 3),
 (('1171', 8), 3),
 (('1171', 54), 3),
 (('1481', 4), 3),
 (('1481', 5), 3),
 (('1481', 56), 3),
 (('1481', 57), 3),
 (('151', 8), 3),
 (('151', 9), 3),
 (('151', 10), 3),
 (('151', 11), 3),
 (('151', 51), 3),
 (('151', 53), 3),
 (('151', 54), 3),
 (('151', 55), 3),
 (('151', 56), 3),
 (('157', 1), 3),
 (('157', 2), 3),
 (('157', 3), 3),
 (('157', 8), 3),
 (('157', 9), 3),
 (('1697', 9), 3),
 (('1697', 36), 3),
 (('1697', 38), 3),
 (('1697', 49), 3),
 (('1697', 50), 3),
 (('1823', 5), 3),
 (('1823', 54), 3),
 (('1823', 56), 3),
 (('1877', 4), 3),
 (('1877', 5), 3),
 (('1877', 36), 3),
 (('1877', 37), 3),
 (('1877', 38), 3),
 (('1877', 39), 3),
 (('1877', 40), 3),
 (('1877', 41), 3),
 (('1877', 42), 3),
 (('1877', 43), 3),
 (('1877', 53), 3),
 (('1877', 56), 3),
 (('1877', 57), 3),
 (('197', 11), 3),
 (('197', 12), 3),
 (('197', 13), 3),
 (('197', 14), 3),
 (('197', 15), 3),
 (('197', 16), 3),
 (('197', 17), 3),
 (('197', 56), 3),
 (('263', 12), 3),
 (('263', 13), 3),
 (('263', 14), 3),
 (('263', 15), 3),
 (('263', 16), 3),
 (('263', 36), 3),
 (('263', 50), 3),
 (('263', 55), 3),
 (('263', 57), 3),
 (('2657', 5), 3),
 (('2657', 56), 3),
 (('2729', 6), 3),
 (('2729', 9), 3),
 (('2729', 10), 3),
 (('2729', 11), 3),
 (('2729', 55), 3),
 (('2729', 56), 3),
 (('2777', 1), 3),
 (('2777', 53), 3),
 (('2777', 55), 3),
 (('2909', 58), 3),
 (('3011', 10), 3),
 (('3011', 11), 3),
 (('3089', 21), 3),
 (('3089', 22), 3),
 (('3089', 23), 3),
 (('3089', 51), 3),
 (('3089', 52), 3),
 (('331', 51), 3),
 (('331', 53), 3),
 (('331', 54), 3),
 (('571', 14), 3),
 (('571', 15), 3),
 (('571', 52), 3),
 (('571', 53), 3),
 (('571', 55), 3),
 (('659', 18), 3),
 (('659', 19), 3),
 (('659', 20), 3),
 (('659', 21), 3),
 (('659', 22), 3),
 (('659', 23), 3),
 (('659', 24), 3),
 (('659', 25), 3),
 (('659', 26), 3),
 (('659', 27), 3),
 (('659', 52), 3),
 (('659', 53), 3),
 (('659', 55), 3),
 (('83', 11), 3),
 (('83', 12), 3),
 (('83', 13), 3),
 (('83', 14), 3),
 (('83', 28), 3),
 (('83', 39), 3),
 (('83', 40), 3),
 (('83', 42), 3),
 (('83', 43), 3),
 (('1171', 2), 2),
 (('1171', 55), 2),
 (('1279', 9), 2),
 (('1279', 10), 2),
 (('1279', 11), 2),
 (('1279', 12), 2),
 (('1279', 13), 2),
 (('1279', 14), 2),
 (('1279', 57), 2),
 (('1481', 3), 2),
 (('1481', 58), 2),
 (('151', 5), 2),
 (('151', 6), 2),
 (('151', 7), 2),
 (('151', 52), 2),
 (('151', 57), 2),
 (('157', 0), 2),
 (('1697', 10), 2),
 (('1697', 11), 2),
 (('1697', 12), 2),
 (('1697', 13), 2),
 (('1697', 14), 2),
 (('1697', 15), 2),
 (('1697', 16), 2),
 (('1697', 17), 2),
 (('1697', 18), 2),
 (('1697', 19), 2),
 (('1697', 20), 2),
 (('1697', 34), 2),
 (('1697', 35), 2),
 (('1697', 51), 2),
 (('1697', 52), 2),
 (('1697', 56), 2),
 (('1697', 57), 2),
 (('1823', 4), 2),
 (('1823', 55), 2),
 (('1877', 1), 2),
 (('1877', 2), 2),
 (('1877', 3), 2),
 (('1877', 54), 2),
 (('197', 9), 2),
 (('197', 10), 2),
 (('197', 57), 2),
 (('263', 11), 2),
 (('263', 37), 2),
 (('263', 38), 2),
 (('263', 39), 2),
 (('263', 40), 2),
 (('263', 49), 2),
 (('2657', 4), 2),
 (('2657', 57), 2),
 (('2729', 2), 2),
 (('2729', 3), 2),
 (('2729', 4), 2),
 (('2729', 5), 2),
 (('2729', 57), 2),
 (('2909', 3), 2),
 (('2909', 4), 2),
 (('3011', 1), 2),
 (('3011', 2), 2),
 (('3011', 3), 2),
 (('3011', 4), 2),
 (('3011', 5), 2),
 (('3011', 6), 2),
 (('3011', 7), 2),
 (('3011', 8), 2),
 (('3011', 9), 2),
 (('3011', 57), 2),
 (('3011', 58), 2),
 (('3089', 18), 2),
 (('3089', 19), 2),
 (('3089', 20), 2),
 (('3089', 53), 2),
 (('331', 11), 2),
 (('331', 55), 2),
 (('571', 10), 2),
 (('571', 11), 2),
 (('571', 12), 2),
 (('571', 13), 2),
 (('571', 57), 2),
 (('659', 16), 2),
 (('659', 17), 2),
 (('659', 58), 2),
 (('83', 2), 2),
 (('83', 3), 2),
 (('83', 4), 2),
 (('83', 5), 2),
 (('83', 6), 2),
 ...]

In [21]:
3011 * 44

132484